@use '../vars/colors' as colors;
@use '../utils/mixins' as mixins;
@use '../utils/brakepoints' as bp;
@use '../utils/rem' as *;

.feedback {
  @include mixins.flex-col;
  align-items: center;

  @media(min-width: bp.$lg) {
    align-items: initial;
  }

  &__button {
    max-width: 272px;
    width: 100%;

    margin-bottom: 15px;
    padding: 15px 15px;

    font-size: rem(16px);
    font-weight: 600;
    color:#fff;
    line-height: 1;
    vertical-align: middle;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    border: 3px solid #fff;
    border-radius: 50px;
  }

  &__desc {
    color: colors.$blue;
    text-align: center;
    line-height: 1.3;

    @media(min-width: bp.$lg) {
      text-align: initial;
    }
  }
}