@use '../vars/colors' as colors;
@use '../utils/mixins' as mixins;

.feedback {
  @include mixins.flex-col;

  &__button {
    max-width: 272px;
    margin-bottom: 15px;
    padding: 15px 30px;
    color:#fff;
    font-size: 2;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 50px;
  }

  &__desc {
    color: colors.$blue;
  }
}