@use '../utils//mixins' as mixins;
@use '../utils/brakepoints' as bp;

.footer {
  @include mixins.flex-col-center;
  padding: 45px 0;
  background-color: #1e4776;

  &__inner {
    display: flex;
    flex-flow: column;
    margin: -25px -15px;

    @media (min-width: bp.$xl) {
      @include mixins.flex-row;
      flex-wrap: wrap;
    }
  }

  &__col {
    display: flex;
    max-width: 350px;
    text-align: center;
    margin: 25px 15px;

    @media (min-width: bp.$xs) {
      text-align: center;
    }
  }
}