@use '../utils//mixins' as mixins;
@use '../utils/brakepoints' as bp;

.footer {
  display: flex;
  justify-content: stretch;
  padding: 40px 0;
  background-color: #1e4776;

  &__container {
    width: 100%;
  }

  &__inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: -25px -15px;

    @media (min-width: bp.$lg) {
      flex-flow: row-reverse;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: initial;
    }
  }

  &__col {
    display: flex;
    max-width: 350px;
    margin: 25px 15px;
  }

  &__col > * {
    width: 100%;
    align-items: center;
  }

  @media (min-width: bp.$lg) {
    &__col > * {
      width: initial;
      align-items: initial;
    }
  }
}