.button {
  padding: 15px 15px;
  text-align: center;
  border-radius: 50px;
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
}

.button-link {
  text-decoration: none;
  color: currentColor;
    &:hover {
      text-decoration: underline;
    }
}