@use '../utils/rem' as *;
@use '../utils/mixins' as mixins;
@use '../utils/brakepoints' as bp;

.header {
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 360px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: bp.$md) {
    min-height: 800px;
  }

  &__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__media {
    min-width: 100%;
  }


  &__container {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title,
  &__subtitle {
    font-weight: 700;
    color: #fff
  }

  &__title {
    font-size: rem(32px);
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.35;

    @media (min-width: bp.$md) {
      font-size: rem(52px);
    }
  }

  &__subtitle {
    @include mixins.flex-col;
  }

  &__span {
    font-size: rem(14px);
    text-transform: uppercase;
    letter-spacing: 2.8px;
    line-height: 1.5;

    @media (min-width: bp.$md) {
      font-size: rem(16px);
    }
  }

  &__button {
    position: absolute;
    bottom: 0;
    @include mixins.absolute-center;
    border: none;
    background: none;
    cursor: pointer;

    @media (min-width: bp.$md) {
      bottom: 30px;
    }
  }

  &__icon {
    display: block;
    pointer-events: none;
  }
}
