@use '../utils/rem' as *;
@use '../utils/mixins' as mixins;

.header {
  display: flex;
  min-height: 360px;
  background-image: url('../img/header-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    position: relative;
    @include mixins.flex-col-center;
    padding-bottom: 30px;
    text-align: center;
  }

  &__title,
  &__subtitle {
    font-weight: 700;
    color: #fff
  }

  &__title {
    font-size: rem(32px);
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.3;
  }

  &__subtitle {
    @include mixins.flex-col;
  }

  &__span {
    font-size: rem(14px);
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.5;
  }

  &__button {
    position: absolute;
    bottom: 30px;
    @include mixins.absolute-center;
    border: none;
    background: none;
  }
}
