@use '../utils/brakepoints' as bp;
@use '../utils/fonts' as fonts;
@use '../utils/mixins' as mixins;
@use '../utils/rem' as *;

.portfolio {
 
  padding-top: 15px;
  padding-bottom: 60px;

  &__title {
    margin-bottom: 30px;
    font-size: rem(32px);
    text-align: center;
  }

  &__content {
    @include mixins.flex-row;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }

  &__card {
    max-width: 540px;
    margin: 15px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, .1);
  }
}

.portfolio-card {
  padding: 15px;
  min-height: 230px;

  @media (min-width: bp.$xl) {
    padding: 20px;
  }

  &__header {
    overflow: hidden;
    margin-bottom: 10px;
  }


  &__link {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: rem(18px);
    text-decoration: none;
    color: currentColor;

    @media (min-width: bp.$xs) {
      font-size: rem(24px);
    }
  }

  &__desc {
    font-size: rem(14px);

    @media (min-width: bp.$xs) {
      font-size: rem(16px);
    }
  }

  &__img {
    max-width: 100%;
  }
}