@use '../utils/mixins' as mixins;
@use '../utils/rem' as *;
@use '../utils/brakepoints' as bp;

.socials {
  @include mixins.flex-col;
 
  &__title {
    font-size: rem(14px);
    font-weight: 600;
    color: #fff;
    margin-bottom: 18px;
  }

  &__list {
    @include mixins.flex-row;
    align-self: stretch;
    align-items: center;

    @media(min-width: bp.$sm) {
      align-self: center;
    }
  }

  &__link object {
    pointer-events: none;
  }

  &__link:not(:last-of-type) {
    margin-right: 30px;
  }
  
  
}