@use '../vars/fonts' as fonts;
@use '../utils/brakepoints' as bp;


.page {
  box-sizing: border-box;
}

.page__body {
  font-family: fonts.$primary ;
}

.page,
.page__body {
  height: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

main {
  flex: 1 0 auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: 0;
  padding: 0;
  width: 1px;
  height: auto;
  border: 0;
  white-space: nowrap;
}

.page__body {
  display: flex;
  flex-direction: column;
  font-family: fonts.$primary, sans-serif;
}

.container {
  max-width: 290px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: bp.$xs) {
    max-width: 1140px;
  }

  @media (min-width: bp.$xs) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer {
  flex-shrink: 0;
}